.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 696px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 75px 405px 0 453px;
}

.u-section-1 .u-list-1 {
  width: 1099px;
  margin: 29px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 462px;
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 218px;
  height: 218px;
  background-image: url("images/lucky21.jpg");
  background-position: 50% 0%;
  margin: 53px auto 0 67px;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  font-size: 2.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 14px 42px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 218px;
  height: 218px;
  background-image: url("images/pushpendra.jpg");
  background-position: 50% 50%;
  margin: 53px auto 0 67px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 38px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 14px 42px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 218px;
  height: 218px;
  background-image: url("images/43d622eeb4b12979fbe9ea057a839a1977157a161f5db8636d34d027ab585ad8bf8fc16c88f81bc7280d20d59d1a05f2407b61ff6953d3e0706219_1280.jpg");
  background-position: 50% 50%;
  margin: 53px auto 0 67px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 38px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 14px 42px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 305px;
    margin-left: 353px;
  }

  .u-section-1 .u-list-1 {
    width: 993px;
    margin-left: -27px;
    margin-right: -27px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 438px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 199px;
    margin-left: 239px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 893px;
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
  }

  .u-section-1 .u-text-4 {
    margin-left: 16px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1700px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 109px;
    margin-left: 149px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1471px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 62px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 62px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 62px;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-top: 29px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1495px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 58px;
    margin-right: 80px;
    margin-left: 58px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 31px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1293px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 53px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 14px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 53px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 14px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    margin-top: 53px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 14px;
  }
}