 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 914px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 314px;
  margin: 35px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 241px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 2px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 237px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-align: left;
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 253px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-align: left;
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 731px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 475px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-input-4 {
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 221px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 237px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 727px;
  }

  .u-section-1 .u-form-1 {
    height: 689px;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }
}