.u-section-1 .u-sheet-1 {
  min-height: 569px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 250px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 144px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  width: 575px;
  font-size: 3rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 170px;
    width: 583px;
    margin-left: -21px;
    margin-right: -21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 150px;
    width: 372px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 24px;
  }
}