.inner_profile .img{
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
          0 2px 4px 0 rgba(0,0,0,0.08);
    border: 3px solid #3D4852;
    margin: 0 auto;
    }
    .badge{
    background: #FFF;
    display: inline-block;
    padding:0 5px;
    margin-left: 3px;
    color: #000;    
    border-radius: 20px;
    }
    .redBadge{
    background-color: #E3342F;
    color: #FFF;
    }
    .inner_profile .img img{
    max-height: 100%;
    width: auto;
    }
    .inner_profile h1{
    padding: 0;
    margin: 0;
    font-size: 25px;
    color:	#303030;
    text-align:center;
    text-transform: capitalize;
    }
    .activesidebar{
    outline: none;
    background-color: #1F9D55 !important;
    color: #FFF !important;
    }
      .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color:	#C0C0C0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 10vh;
    }
    
    .sidenav a {
    padding: 5%;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    text-align:center;
    background-color:wheat;
    margin:2%;
    
    }
    
    .sidenav a:hover {
    color: red;
    background-color:white;
    }
    
    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
    background-color:#696969;
    border:0;
    padding:0 6% 0 6%;
    }
    .sidenav .closebtn:hover{
    color:white;
    background-color:red;
    }
    
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 10vh;}
    .sidenav a {font-size: 18px;}
    }
    .all_users{
      margin-left: 10vw;
    }
    .all_users .usersWrapper{   
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    }
    .all_users h3{
    display: block;
    z-index: 999;
    }
    .all_users .user_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid rgba(23,23,23, .2);
    margin: 5px;
    padding: 10px;
    width: fit-content;
    background-color: #FFF;
    align-items: stretch;
    }
    .user_box .user_img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid rgba(23,23,23, .1);
    margin-right: 5px;
    border-radius: 100px;
    background-color: #E6E8FF;
    }
    .user_box .user_img img{
    height: 100%;
    width: auto;
    }
    .user_box .user_info{
    flex-grow: 1;
    }
    .user_info span{
    display: block;
    }
    .user_info span:first-child{
    text-overflow: ellipsis;
    overflow: hidden;
    color:black;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: bold;
    padding-bottom: 5px;
    }
    
    .see_profileBtn{
    background-color: #794ACF;
    border: 1px solid rgba(23,23,23, .1);
    color: #FFF;
    margin-top:10px;
    font-size: 12px;
    padding:3px 7px;
    border-radius: 20px;
    text-transform: uppercase;
    }
    .see_profileBtn:hover{
    background-color: #382B5F;
    }
    
    .actions{
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #FFF;
    }
    
    .req_actionBtn{
    font-size: 14px;
    text-transform: uppercase;
    padding:5px 10px;
    border: 1px solid rgba(23,23,23, .1);
    color: #222222;
    }
    
    .acceptRequest,.sendRequest{
    background-color: #794ACF;
    color: #FFF;
    }
    .acceptRequest:hover,.sendRequest:hover{
    background-color: #382B5F;
    }
    .unfriend, .ignoreRequest,.cancleRequest{
    background-color: #EF5753;
    color: #FFF;
    }
    .unfriend:hover,.ignoreRequest:hover,.cancleRequest:hover{
    background-color: #E3342F;
    
    }
    
    /* RESPONSIVE */
    @media only screen and (max-width: 560px) {
    .all_users .user_box{
      width: 100%;
    }
    }
